<div class="welcome-container">
  <h1 class="welcome-title bold-text">BUDGET APP</h1>

  <p>Welcome to the Budget App! Take control of your finances.</p>

  <div class="welcome-buttons">
    <%= link_to "LOG IN", log_in_path, class: "welcome-button" %>
    <%= link_to "SIGN UP", sign_up_path, class: "welcome-button-sign-up" %>
  </div>
</div>
